/* App.module.css */
.app {
  text-align: center;
}

.appHeader {
  background-color: #53474F;
  padding: 5px 30px 5px 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appLogo {
  height: 100px;
}

.appNav {
  display: flex;
  gap: 20px;
}

.appLink {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}


.appLink:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
  background-color: #FFDCE8;
  height: 100vh;
}

.footer {
  padding: 10px;
  background-color: #53474F;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}
  